/* Style pour la navigation publique */

header.navbar {
    /* Fond Blanc par défaut pour un look épuré */
    background-color: white !important;
}

/* Style du lien actif (souligné par la couleur de marque) */
.navbar-nav .nav-link.active {
    font-weight: 600;
    color: #712CF9 !important; /* Couleur de marque violette */
    border-bottom: 2px solid #712CF9;
    padding-bottom: 0.5rem;
}

.navbar-nav .nav-link {
    transition: color 0.3s;
    /* Assurer que les liens non actifs soient sombres */
    color: #343a40 !important; 
}