<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light-subtle">
    <div class="card p-4 shadow-lg custom-card-width">
        <div class="card-body">
            
            <h2 class="card-title text-center mb-4 fw-bold">Forgot Password</h2>
            
            <p class="text-center text-muted mb-4">
                Enter your email to receive a password reset link
            </p>

            <div *ngIf="message" 
                 class="alert mb-4" 
                 [ngClass]="{'alert-success': isSuccess, 'alert-danger': !isSuccess}" 
                 role="alert">
                {{ message }}
            </div>

            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                
                <div class="mb-4">
                    <label for="email" class="form-label fw-bold">Email Address</label>
                    <div class="input-group">
                        <span class="input-group-text bg-white border-end-0">
                            <i class="bi bi-envelope"></i>
                            </span>
                        <input 
                            type="email" 
                            id="email"
                            formControlName="email"
                            class="form-control border-start-0" 
                            placeholder="you@example.com"
                            [ngClass]="{'is-invalid': emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)}"
                        >
                    </div>
                    
                    <div *ngIf="emailControl?.invalid && (emailControl?.dirty || emailControl?.touched)" class="invalid-feedback d-block">
                        <div *ngIf="emailControl?.errors?.['required']">L'adresse email est requise.</div>
                        <div *ngIf="emailControl?.errors?.['email']">Veuillez entrer une adresse email valide.</div>
                    </div>
                </div>

                <button 
                    type="submit" 
                    class="btn btn-dark w-100 py-2 mb-3 fw-bold" 
                    [disabled]="forgotPasswordForm.invalid || isLoading"
                    style="background-color:rgb(79, 79, 247);">
                    <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                    Send Reset Link
                </button>
            </form>

            <div class="text-center mt-3">
                <a href="javascript:void(0)" (click)="goToLogin()" class="text-decoration-none text-dark fw-bold">
                    <i class="bi bi-arrow-left me-1"></i> Back to Login
                </a>
            </div>

        </div>
    </div>
</div>
